<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-12" style="padding: 20px">
    <app-edit-task ></app-edit-task>
  </div>

  <!-- <div class="col-md-5">
        <ul class="list-group">
            <a class="list-group-item"
            style="cursor: pointer"
            *ngFor="let s of tasked; let i = index"
            (click)="onEditTask(i)"
            >
             <h4 class="list-group-item-heading">{{ s.name }}</h4>
             {{s.description}}
            </a> 
        </ul>      
  </div> -->
 
  <div class="col-lg-6 col-md-6 col-xs-12 " style="padding: 20px">
    <div style="text-align: center;">Your Task List</div>
    <hr>
    <ng-template [ngIf]="tasked.length">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let s of tasked; index as i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{s?.name}}
            </mat-panel-title>
            <!-- <mat-panel-description >
              {{s?.description}}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p style="font-size: 18px">{{s?.description}}</p>
          <ng-template [ngIf]="s?.subtasks?.length">
            <ul>
              <li *ngFor="let sub of s?.subtasks">{{sub.name}}</li>
            </ul>
          </ng-template>
          <button type="button" mat-raised-button color="primary" (click)="onEditTask(i)">Edit</button>
          <button mat-raised-button type="button" color="primary" style="margin-left:15px"
            (click)="onDelete(i)">Delete</button>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </div>
</div>