<!-- <div class="row">
  <div class="col-md-8 form-group" >
    <form (ngSubmit)="onAddTask(f)" #f = "ngForm">
      <div class="row">
          <div class="col-md-8">
              <label for="name">Task Name</label>
              <input type="text"
              name="name" 
              class="form-control"
              placeholder="Enter new task"
              ngModel
              required
              >
              <label for="Description">Task Description</label>
              <textarea type="text"
              name="description"
              class="form-control"
              placeholder="Enter Description"
              ngModel
              required></textarea>
          </div> 
        </div>

        <div class="row">
          <div class="col-xs-12"  >
            <div class="row"
            style="margin-top: 5px">
              <div class="col-xs-8">
                <label for="subtaskname">Sub-Task Name</label>
                <input type="text" name="subtaskname" class="form-control">
              </div>
              <div class="col-xs-2">
                  <label for="status">Status</label>
                <input type="text" name="status" class="form-control">
              </div>
              <div class="col-xs-2">
                  <label >Remove</label>
                <button type="button" class="btn btn-danger">X</button>
              </div>
            </div>
          </div>
        </div>

        
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
        <button class="btn btn-warning" type="button" (click)="onClear()">Clear</button>
        <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
        <button class="btn btn-success" type="button" (click)="onAddSubtask()">Add Sub task</button>
    </form>
  </div>
</div> -->

<div class="row">
  <div class="form-group ">
    <h3 style="text-align: center; margin-top: 0px">Add Your Tasks</h3>
    <hr>
    <form [formGroup]="taskForm" (submit)="addTask(ngform1)" #ngform1="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Task Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          Task Description
        </mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div formArrayName="subtasks">
        <div *ngFor="let subtask of subtasks.controls; index as i" [formGroupName]="i">
          <div class="flex-box">
            <mat-form-field appearance="outline">
              <mat-label>Subtask Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <button mat-mini-fab color="warn" type="button" class="deleteButton" (click)="deleteSubtask(i)">X</button>
          </div>
        </div>
      </div>
      <!-- <button type="button" mat-raised-button color="primary" (click)="addSubtask()">Add Sub-task</button> -->
      <button mat-mini-fab color="primary" type="button" (click)="addSubtask()">+</button>
      <hr>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <button mat-raised-button type="submit" [disabled]="taskForm.invalid" color="primary"
            style="width: 50%; margin-top:15px">{{isEdit? 'Update': 'Add Task'}}</button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <!-- <button mat-raised-button type="button" color="primary" style="width: 50%;"
            (click)="onClear()">Clear</button> -->
          <ng-template [ngIf]="isEdit">
            <button mat-raised-button type="button" color="primary" style="width: 50%; margin-top:15px"
              (click)="onCancel()">Cancel</button>
          </ng-template>

        </div>
      </div>

    </form>
  </div>
</div>